<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Replit</title>
        <link href="style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="app">
            <div>{{ title }}</div>
            <div>{{ splitTest }}</div>

            <div>{{ splitTestMethod() }}</div>
            
            <ol>
                <li v-for="(todo, index) in listTodo" :key="index" class="list" >
                {{todo}} <span @click="hapus(index)" class="hapus" hidden>x</span>
                </li>
            </ol>
            <input type="text" v-model:value="todo" />
            <button @click="tambahkan(todo)">Tambahkan</button>

            <hebat-sekali  :list-todo="listTodo.length>=4"></hebat-sekali>

            <button @click="changeTitle(todo)">change title</button>
            <button @click="splitTestMethod()">change subtitle</button>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>            
        <script>
            Vue.component('hebat-sekali', {
                props: ["listTodo"],
                template: "<p v-if=listTodo >Hebat!</p>",
            })

            const vm = new Vue({
                el: "#app",
                data: {
                    title: "belajar vue",
                    subTitle: "subtitle vue",
                    todo: "",
                    listTodo: [],
                    show: false
                },
                computed: {
                    splitTest: function(){
                        const splitText = this.title.split(' ')
                        console.log("splitText: ", splitText)
                        return splitText[0]
                    }
                },
                watch: {
                    title: function(val) {
                        this.show = true
                    },
                    subTitle: function(val) {
                        console.log("subTitle val: ", val)
                    }
                },
                methods: {
                    splitTestMethod: function(){
                        const splitText = this.subTitle.split(' ')
                        console.log("split Text: ", splitText)
                        return splitText[0]
                    },
                    tambahkan(todo){
                        this.listTodo.push(todo);
                        this.todo="";
                    },
                    changeTitle(todo) {
                        console.log("button clicked")
                        this.title = todo
                    },
                    hapus(index){
                        this.listTodo.splice(index,1)
                    }
                },
            });
        // vm.title = "vue belajar"
        </script>
    </body>
</html>
